
{% extends "./show_profile/layout.twig" %}
{% block content %}

{% include './nevbar.twig' %}
<style>
    form p {
        margin-bottom: 10px;
        text-align: center;
    }
    </style>
    <body class="login-page">

<div class="col-xs-12 col-sm-12">
    <div class="card profile-card">
        <form method="POST" enctype="multipart/form-data" id="edit_profile" action="../edit_profile_detail">
        <div class="profile-header">&nbsp;</div>
            <div class="profile-body">
                <div class="image-area">
                    <img src="/mvc_slim/src/templates/img/{{ data.member.img_part }}" alt="AdminBSB - Profile Image" onclick="import_img()" style="max-width: 160px;max-height: 160px;">
                    <input type="file"  id="img"  name="img" style="display: contents;" >
                    <input type="hidden"  id="img_name"  name="img_name" style="display: contents;" value="{{ data.member.img_part }}">
                </div>
                <div class="content-area">
                    <h3>{{ data.member.username }}</h3>
                    <p>{{ data.member.nickname }}</p>
                    <p>{{ data.member.email }}</p>
                </div>
            </div>
            <div class="profile-footer">
                <ul>
                    <li>
                        <span>NAME </span>
                        <span>{{ data.member.username }} <i class="material-icons"  onclick="show_edit_profile('username')">edit</i></span>
                    </li>
            <input type="text" class="form-control" id="username"   style="display: none" name="username" placeholder="username" value="{{ data.member.username }}"  >
                    <li>
                        <span>Nick Name </span>
                        <span>{{ data.member.nickname }} <i class="material-icons"  onclick="show_edit_profile('nickname')">edit</i></span>
                    </li>
            <input type="text" class="form-control" id="nickname"   style="display: none" name="nickname" placeholder="nickname" value="{{ data.member.nickname }}"  >
                    <li>
                        <span>Tell</span>
                        <span>{{ data.member.tell }} <i class="material-icons"  onclick="show_edit_profile('tell')">edit</i></span>
                    </li>
            <input type="text" class="form-control" id="tell"  style="display: none" name="tell" placeholder="tell" value="{{ data.member.tell }}"  >
                    <li>
                        <span>E-mail</span>
                        <span>{{ data.member.email }} </span>
                    </li>
            <input type="text" class="form-control" id="email" style="display: none"  name="email" placeholder="email" value="{{ data.member.email }} "  >
                </ul>
            </div>
            <button class="btn btn-block bg-pink waves-effect" type="button" onClick="insert_img()">Update Profile</button>
        </form>
        </div> 
    </div>

    {% endblock %}